
        .monaco-workbench {
            background: rgba(255, 255, 255, 0.1) !important;
            backdrop-filter: blur(10px) !important;
            -webkit-backdrop-filter: blur(10px) !important;
        }
        .monaco-workbench .part.titlebar {
            background: transparent !important;
        }
    
                .monaco-editor .view-lines {
                    background: rgba(0, 0, 0, 0.4) !important;
                }
                .monaco-editor .view-line {
                    opacity: 0.5 !important;
                }
                .monaco-editor .current-line {
                    opacity: 1 !important;
                    background: transparent !important;
                }
            